<mat-card class="movie-card">
  <mat-card-header>
    <mat-card-title class="movie-card__title">{{ movie.title }}</mat-card-title>
    <mat-card-subtitle>{{ movie.releasedDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <span *ngIf="isInWatchList" class="on-watchilst-movie">On Watchlist</span>
  <img
    mat-card-image
    class="movie-card__image"
    (click)="onViewDetails()"
    [src]="movie.imageUrl"
    alt="{{ movie.title }}"
  />
  <mat-card-content>
    <p class="movie-card__description">{{ movie.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-flat-button (click)="onViewDetails()">
      View details
    </button>
    <button
      *ngIf="!isInWatchList"
      color="primary"
      mat-button
      (click)="onAddToWatchlist()"
      matTooltip="Add to watchlist"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button
      *ngIf="isInWatchList"
      color="warn"
      mat-button
      (click)="onRemoveToWatchlist()"
      matTooltip="Remove to watchlist"
    >
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
