.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-form-field {
  width: 100%;
}

.sort-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.no-movies-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
  width: 100%;
  text-align: center;
}
