.movie-details {
  &__image {
    height: 300px;
  }
  &__treiler-section {
    .video-wrapper {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      height: 0;
    }

    &__video-trailer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
